# Ignore project data directory
/data/
/3-extraction/examples
comments.txt

# Ignore contents of img directory in 1-transcription (but keep the directory)
/1-transcription/img/*
/1-transcription/output.jsonl

/2-generation/gen.json
/2-generation/input.jsonl

/2-generation/gen.jsonl
/3-extraction/input.jsonl
/3-extraction/output_raw.tex

/4-production/input.tex
/4-production/output.tex

# Python environment
.venv/